.ContainerCenter {
    display: flex;
    flex-direction: row;
}

/* activity bar */
.activityBar {
    width: 60px;
    height: 100vh;
    background-color: black;
}

.activityBar ul {
    margin: 0;
    padding: 0;
}

.activityBar ul li {
    width: 60px;
    height: 60px;
}

.activityBar ul li span {
    color:antiquewhite;
    font-size: 36px;
    text-align: center;
    display: block;
    cursor: pointer;
}

/* center bar */
.centerBar {
    background-color:aliceblue;
    flex: 1;
}