body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#root {
    margin: 0;
    padding: 0;
}

.titlBar {
    width: 100%;
    height: 30px;
    line-height: 30px;
    margin: 0;
    background-color: black;
    -webkit-app-region: drag;
    position:fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: -30px;
    z-index: 99999999;
}

